<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzBUKP4-UO4qa73TBWbGAKTzWWAga-xFU</string>
	<key>GCM_SENDER_ID</key>
	<string>730014822368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partner3clean.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dustbuster-d9b9f</string>
	<key>STORAGE_BUCKET</key>
	<string>dustbuster-d9b9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730014822368:ios:916e6b960454e570c58585</string>
</dict>
</plist>